<h1>Display your Pirate here</h1>
Name: <%= @pirate.name %>
Weight: <%= @pirate.weight %>
Height: <%= @pirate.height %>

<h2>Display your first ship here</h2>
Name: <%= @ships[0].name %>
Type: <%= @ships[0].type %>
Booty: <%= @ships[0].booty %>

<h2>Display your second ship here</h2>
Name: <%= @ships[1].name %>
Type: <%= @ships[1].type %>
Booty: <%= @ships[1].booty %>